{% extends 'layouts/base_auth.html' %}

{% load static %}

{% block content %}
<div class="d-flex flex-column col me-5">

    <div class="d-flex gap-3 align-items-center">
        <h1 class="m-2">New questions</h1>
        <a href="./hot-questions.html">Hot questions</a>
    </div>
        
    <div class="d-flex ms-2 gap-2 flex-column">
        {% for question in questions %}
            {% include 'layouts/card_q.html' %}
        {% endfor %}
    </div>

    <nav aria-label="Page navigation example" class="m-2">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><p class="page-link">...</p></li>
            <li class="page-item"><a class="page-link" href="#">53</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
{% endblock %}