{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

    <div class="d-flex flex-column flex-fill me-5">

        <article class="card flex-row gap-2 p-2 border-0">
            <div class="d-flex flex-column gap-2">
                <img src="{% static 'img/avatar.png' %}" class="img-thumbnail" width="64" height="64" alt="Avatar">
                <div class="d-flex flex-row justify-content-center gap-2" style="height: 10%; width: auto; min-height: 25px;">
                    <div class="h-100">6</div>
                    <div class="d-flex flex-column justify-content-center">
                        <button class="btn btn-outline-secondary d-flex m-0 p-0">
                            <svg aria-hidden="true" class="svg-icon iconArrowUp border" height="12" viewBox="0 0 18 18"><path d="M1 12h16L9 4z"></path></svg>
                        </button>
                        <button class="btn btn-outline-secondary d-flex m-0 p-0">
                            <svg aria-hidden="true" class="svg-icon iconArrowDown border" height="12" viewBox="0 0 18 18"><path d="M1 6h16l-8 8z"></path></svg>
                        </button>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column col">
                <h5 class="mt-0 ">{{ question.title }}</h5>
                <p class="lh-sm text-break card-text">{{ question.text }}</p>
                <div class="d-flex flex-row gap-2">
                    Tags:
                    <div class="d-flex flex-row flex-wrap gap-2">
                        {% for tag in question.tags %}
                            <a href="{% url 'tag' tag.tag_name %}">{{ tag.tag_name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </article>

        <div class="ms-2 mt-3 mb-3 border"></div>

        <div class="d-flex ms-2 gap-2 flex-column">
            {% for ask in asks %}
                {% include 'layouts/card_a.html' %}
            {% endfor %}
        </div>

        {% include 'layouts/pagination.html' %}

        <div class="ms-2 mt-2 mb-3 border"></div>

        <form class="d-flex flex-column ms-2 me-5 gap-1 justify-content-between">
            <div class="input-group">
                <textarea type="text" class="form-control" placeholder="Text your answer" aria-label="Text" aria-describedby="Text"></textarea>
            </div>
            <div class="input-group mb-3">
                <div class="text-danger">Sorry, empty text!</div>
            </div>
            <div class="d-flex">
                <button class="btn btn-outline-primary" type="submit">Answer</button>
            </div>
        </form>

    </div>

{% endblock %}

