<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Document</title>

        <link rel="stylesheet" href="../static/css/bootstrap.min.css">

        <style>
            .btn-outline-success {
                background-color: darkseagreen;
                color: white;
            }

            .btn-outline-secondary {
                border-color: lightgrey  !important;
            }
            
            .btn-outline-secondary:hover {
                background-color: whitesmoke !important;
                color: grey;
            }
            
            .btn-outline-secondary:active {
                background-color: lightgrey !important;
            }
            
            .page-item {
                height: 38px;
            }            
        </style>

    </head>
    <body>

        <nav class="navbar navbar-expand-lg bg-body-tertiary w-100">
            <div class="container-fluid">
                <div class="d-flex align-items-center w-1">
                    <a href="#" class="navbar-brand">AskPimanov</a>
                </div>
                <div class="d-flex justify-content-between align-items-center w-8">
                    <form class="d-flex gap-1" role="search" style="width: 350px;">
                        <input class="form-control" style="border-radius: 20px;" type="search" placeholder="Question" aria-label="Question"></input>
                        <button class="btn btn-outline-success" type="submit">Ask!</button>
                    </form>
                </div>
                <div class="d-flex w-2 gap-1">
                    <img class="img-thumbnail" width="48" height="48" src="../static/img/avatar.png" alt="Avatar">
                    <div class="d-flex flex-column">
                        <div>Dr.Pepper</div>
                        <div>
                            <a href="./settings.html">Settings</a>
                            <a href="./logout.html">Log out</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <main class="d-block m-0 p-0">
            
            <div class="d-flex gap-2 ms-2 flex-row justify-content-between">
                
                <div class="d-flex flex-column col">

                    <div class="d-flex flex-row m-2">
                        <h1 class="me-2">Settings:</h1>
                        <h1 id="username">Dr.Pepper</h1>
                    </div>

                    <div class="d-flex flex-row m-2">
                    <form class="d-flex flex-column ms-2 me-5 gap-1 justify-content-between">
                        <div class="input-group mb-3">
                            <span class="input-group-text col-4" id="nq-login">Login</span>
                            <input disabled size="40" type="text" class="form-control" placeholder="Login" aria-label="Login" aria-describedby="Login" value="dr_pepper"></input>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text col-4" id="nq-email">Email</span>
                            <input type="email" size="25" maxlength="25" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="Email"></textarea>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text col-4" id="nq-nick">NickName</span>
                            <input type="text" size="25" maxlength="25" class="form-control" placeholder="NickName" aria-label="NickName" aria-describedby="NickName" value="Dr.Pepper"></input>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text col-4" id="nq-vatar">Upload avatar</span>
                            <img class="img-thumbnail" src="../static/img/avatar.png" width="64" height="64" alt="Avatar">
                        </div>
                        <div class="input-group mb-3">
                            <span class="col-4"></span>
                            <input disabled type="text" maxlength="128" class="form-control col" placeholder="File" aria-label="File" aria-describedby="File" value="C:\Temp\Avatar.jpg"></input>
                            <button class="btn btn-outline-secondary" type="button" style="border-end-end-radius: 20px; border-top-right-radius: 20px;">choose</button>
                        </div>
                        <div class="d-flex">
                            <span class="col-4"></span>
                            <button class="btn btn-outline-primary" type="submit">Save</button>
                        </div>
                    </form>
                    </div>

                </div>

                <aside class="d-flex flex-column mt-5 me-2 col-3">
                    <section class="popular-tags">
                        <h3 class="mb-2">Popular Tags</h3>
                        <nav class="d-flex gap-2 flex-wrap">
                            <a href="#" style="text-decoration: none; color: black;">perl</a>
                            <a href="#" style="text-decoration: none; color: red;">python</a>
                            <a href="#" style="text-decoration: none; color: blue;">TechnoPark</a>
                            <a href="#" style="text-decoration: none; color: red;">MySQL</a>
                            <a href="#" style="text-decoration: none; color: green;">django</a>
                            <a href="#" style="text-decoration: none; color: black;">Mail.ru</a>
                            <a href="#" style="text-decoration: none; color: black;">Voloshin</a>
                            <a href="#" style="text-decoration: none; color: orange;">Firefox</a>
                        </nav>
                    </section>
                    <section class="best-members">
                        <h3 class="mt-4 mb-2">Best Members</h3>
                        <ul class="d-flex flex-column gap-1 ps-0">
                            <li class="list-group-item"><a href="#">Donnerrollen</a></li>
                            <li class="list-group-item"><a href="#">Dr. Kisilev</a></li>
                            <li class="list-group-item"><a href="#">Pushkin</a></li>
                            <li class="list-group-item"><a href="#">Lermontov</a></li>
                            <li class="list-group-item"><a href="#">Tolstoy</a></li>
                            <li class="list-group-item"><a href="#">Man</a></li>
                        </ul>
                    </section>
                </aside>

            </div>
        </main>

        <script src="../static/js/bootstrap.min.js"></script>
    </body>
</html>